.body{
	font-family:verdana;
    color:#444;
    
}
.krestiki_noliki{
    width: 306px;
    margin: 0 auto;
}
.krestiki_noliki .block{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
}

.canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.show {
    display: block!important;
}

@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}
@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor
 {-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
 	