html,body,header, #intro{
    height: 100%;
}
  #intro{
      background: url(../img/photo.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      background-size: cover;
  }
html,body,header, #intro1{
      height: 100%;
  }
    #intro1{
        background: url(../img/photo1.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
html,body,header, #music_1{
    height: 100%;
}
  #music_1{
      background: url(../img/photo3.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      background-size: cover;
  }
html,body,header, #help_1{
    height: 100%;
}
  #help_1{
      background: url(../img/photo4.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      background-size: cover;
  }
html,body,header, #chinese_1{
  height: 100%;
}
#chinese_1{
    background: url(../img/photo5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
html,body,header, #japanese_1{
height: 100%;
}
#japanese_1{
  background: url(../img/photo6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.top-nav-collapse{
  background-color: #000;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse){
        background: #000;
    }
}

.krestiki_noliki{
    width: 306px;
    margin: 0 auto;
}
.krestiki_noliki .block{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 80px;
    line-height: 94px;
}
